
.a-1 {
    --scope-hash: f6a665 /* Collision-prevention ID */
}
.a-2 {
    --scope-hash: f64665 /* Collision-prevention ID */
}
.a-3 {
    --scope-hash: f6a565 /* Collision-prevention ID */
}
.a-4 {
    --scope-hash: f64465 /* Collision-prevention ID */
}
.a-5 {
    --scope-hash: f63465 /* Collision-prevention ID */
}
